/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
	line-height: 1;
	animation: fadeIn 2s ease-out 0s 1 normal;
    -webkit-animation: fadeIn 2s ease-out 0s 1 normal;
    color: #484646;
    box-sizing: border-box;
}
@keyframes fadeIn {
    0% {opacity: 0;transform:  translateY(30px); }
    100% {opacity: 1;transform:  translateY(0px);}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;
    	transform:  translateY(30px);
    }
    100% {opacity: 1;
    	transform:  translateY(0px);
    }
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
/*blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}*/
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	color: #484646;
	cursor: pointer
}
header {
	float: right;
    position: absolute;
    right: 30px;
    top: 30px;
    line-height: 60px;
    font-size: 1.2em;
    text-align: right;
}
header a {
    color: white;
    transition: 0.5s
}
header a:hover{
	color: #ffeb3b;
	transition: 0.5s
}
header li {
	color: white;
}

.container {
	width: 100%;
}
.top-introduction {
	width: 100%;
	overflow: hidden;
	padding-left: 20px;

}
.top-introduction:before{
	content: '';
    border-color: transparent transparent #00bcd438 transparent;
    border-width: 0 360px 90px 0;
    position: absolute;
    height: 24px;
    border-style: solid;
    z-index: 10;
}
.top-introduction h1{
	font-size: 2em;
	font-weight: bold;
	line-height: 60px;
	margin-top: 29px;
	position: absolute;
	z-index: 15;
	text-shadow: 0.5px 0.5px 0 #fff,
               -0.5px 0.5px 0 #fff,
               0.5px -0.5px 0 #fff,
               -0.5px -0.5px 0 #fff;
	
}
.top-introduction p {
	font-size:1.3em;
	position: absolute;
	z-index: 15;
	top: 90px;
	text-shadow: 0.5px 0.5px 0 #fff,
               -0.5px 0.5px 0 #fff,
               0.5px -0.5px 0 #fff,
               -0.5px -0.5px 0 #fff;
}
.top-introduction img {
	position: absolute;
	top: 120px;
}
.ball {
	background-image: url("./img/ball.png");
	background-repeat: no-repeat;
	background-position: top right;
	margin-top: -260px;
	margin-right: -120px;
	height: 990px;
}
.self-Introduction {
    margin-top: -390px;
    padding-left: 20px;
    line-height: 1.7;
    letter-spacing: 0.7px;
    text-shadow: 0.5px 0.5px 0 #fff,
               -0.5px 0.5px 0 #fff,
               0.5px -0.5px 0 #fff,
               -0.5px -0.5px 0 #fff;
}
.self-Introduction h2 {
	font-size: 1.3em;
    margin-top: 33px;
    text-shadow: 0.5px 0.5px 0 #fff, -0.5px 0.5px 0 #fff, 0.5px -0.5px 0 #fff, -0.5px -0.5px 0 #fff;
    border-left: 6px solid #00bcd438;
    padding-left: 9px;
    margin-bottom: 9px;
}
footer {
    background: -webkit-linear-gradient(0deg, #00968880, #277ec396);
    margin-top: 60px;
}
footer p {
    padding: 9px 0;
    font-size: 1.3em;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    text-align: center;
}
